h1 {font-family: "Raleway", sans-serif}
h1:hover {color: gray}
body, html {height: 100%}
.bgimg {
  background-color: black;
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.arrow {
  border: solid grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
p {text-align: justify}